#wrapper {
  color: white;
  position: relative;
  z-index: 1;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#wrapper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(51, 33, 29, 0.85);
}
#wrapper > div {
  padding: 150px 0;
  background-image: url(../img/overlay-bottom.png);
  background-repeat: repeat-x;
  background-position: left bottom -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper > div h2 {
  margin-bottom: 20px;
  font-size: 50px;
}
#wrapper > div a {
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
}
#wrapper > div a:hover {
  color: #da9f5b;
}

#contact .media {
  margin: 50px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  gap: 25px;
}
#contact .media i {
  font-size: 50px;
  color: #da9f5b;
}
#contact .media h3 {
  margin: 10px 0;
}
#contact .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
#contact .lower > * {
  width: 50%;
  height: 100%;
}
#contact .lower .map {
  background-color: #888;
  min-height: 300px;
}
#contact .lower form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
#contact .lower form [type=submit] {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
#contact .lower form > *:not([type=submit]) {
  padding: 10px 15px;
  border: solid 1px #888;
  background-color: transparent;
  font-size: 20px;
}
#contact .lower form textarea {
  resize: vertical;
  min-height: 100px;
}