@use "./helpers/mixins" as *;
@use "./helpers/variable" as *;
@use "./layout/sections" as *;

#wrapper{
  color: white;
  position: relative;
  ul{
    position: relative;
    display: flex;
    z-index: -1;
    li{
      @include overCover($mainColor,0.5);
      margin-right: -100%;
      width: 100%;
      transition-duration: 1s;
      transform: translateX(-100%);
      &.active{
        animation: carousel 1s;
        transform: translateX(0);
      }
      img{
        width: 100%;
      }
      .textBox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        @include textFlex;
        .upperP{
          color: $greyColor;
          font-size: 40px;
        }
        h2{
          font-size: 50px;
        }
        p:last-of-type{
          font-size: 30px;
          &:after,&:before{
            content: " * ";
          }
        }
      }
    }
  }
  background: url(../img/overlay-bottom.png);
  background: {
    repeat:repeat-x;
    position:left bottom -1px;
  }
  >i{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    cursor: pointer;
    &:first-of-type{
      left: 50px;
    }
    &:last-of-type{
      right: 50px;
    }
  }
  @keyframes carousel{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
    }
  }
}

@include aboutSection;

@include serviceSection;

#offer{
  color: white;
  @include overCover($mainColor,0.6);
  background: {
    image: url(../img/bg.jpg);
    size: cover;
  }
  >div{
    
    @include textFlex;
    gap: 15px;
    padding: 70px 0;
    background: {
      image: url(../img/overlay-bottom.png), url(../img/overlay-top.png);
      repeat: repeat-x;
      position: left bottom -1px,left top -1px;
    }
    p:nth-child(1){
      font-size: 70px;
      color: $greyColor;
      font-weight: 900px;
    }
    p:nth-child(2){
      font-size: 35px;
    }
    p:nth-child(3){
      font-size: 25px;
    }
    form{
      display: flex;
      [type="email"]{
        padding: 10px;
        width: 200px;
        max-width: 100%;
      }
    }
  }
  
}