@use "./helpers/mixins" as *;
@use "./helpers/variable" as *;
@use "./layout/sections" as *;

#wrapper{
  color: white;
  position: relative;
  .owl-carousel{
    .item{
      width: 100%;
      position: relative;
      img{
        width: 100%;
      }
      .textBox{
        @include overCover($mainColor,0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        @include textFlex;
        padding: 100px 35px 20px;
        .upperP{
          color: $greyColor;
          font-size: 40px;
        }
        h2{
          font-size: 50px;
        }
        p:last-of-type{
          font-size: 30px;
          &:after,&:before{
            content: " * ";
          }
        }
        @include mediaSet("sm"){
          .upperP{
            font-size: 20px;
          }
          h2{
            font-size: 25px;
          }
          p:last-of-type{
            font-size: 15px;
          }
          
        }
      }
    }

  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
  background: {
    image:url(../img/overlay-bottom.png);
    repeat:repeat-x;
    position:left bottom -1px;
  }
  z-index: 1;
  }
  .owl-nav button{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 10px !important;
    margin: 0;
    &:hover{
      background-color: transparent;
    }
    & span {
      display: none;
    }
    cursor: pointer;
    &::before{
      font-family: fontawesome;
    }
    &:first-of-type{
      left: 0;
      &::before{
        content: "\f100";
      }
    }
    &:last-of-type{
      right: 0;
      &::before{
        content: "\f101";
      }
    }
  }
}

@include aboutSection;
@include serviceSection;

#offer{
  @extend %paperSection;
  text-align: center;
  >div{
    @include textFlex;
    gap: 15px;
    p:nth-child(1){
      font-size: 70px;
      color: $greyColor;
      font-weight: 900px;
    }
    p:nth-child(2){
      font-size: 35px;
    }
    p:nth-child(3){
      font-size: 25px;
    }
    form{
      display: flex;
      [type="email"]{
        padding: 10px;
        width: 200px;
        max-width: 100%;
      }
    }  
    @include mediaSet("sm"){
      p:nth-child(1){
        font-size: 40px;
      }
      p:nth-child(2){
        font-size: 25px;
      }
      p:nth-child(3){
        font-size: 18px;
      }
    }
  }
}

@include menuSection;
@include reservationSection;
@include testimonialSection;








