#wrapper {
  color: white;
  position: relative;
  background: url(../img/overlay-bottom.png);
  background-repeat: repeat-x;
  background-position: left bottom -1px;
}
#wrapper ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}
#wrapper ul li {
  position: relative;
  z-index: 1;
  margin-right: -100%;
  width: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#wrapper ul li:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(51, 33, 29, 0.5);
}
#wrapper ul li.active {
  -webkit-animation: carousel 1s;
          animation: carousel 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#wrapper ul li img {
  width: 100%;
}
#wrapper ul li .textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper ul li .textBox .upperP {
  color: #da9f5b;
  font-size: 40px;
}
#wrapper ul li .textBox h2 {
  font-size: 50px;
}
#wrapper ul li .textBox p:last-of-type {
  font-size: 30px;
}
#wrapper ul li .textBox p:last-of-type:after, #wrapper ul li .textBox p:last-of-type:before {
  content: " * ";
}
#wrapper > i {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
}
#wrapper > i:first-of-type {
  left: 50px;
}
#wrapper > i:last-of-type {
  right: 50px;
}
@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes carousel {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#about .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .contents img {
  height: 450px;
}
#about .contents .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
#about .contents .box p, #about .contents .box li {
  font-size: 20px;
}
#about .contents .box li {
  margin-bottom: 5px;
}
#about .contents .box li:before {
  content: "\f00c";
  font-family: fontawesome;
  margin-right: 10px;
}
#about .contents .box button {
  margin-top: 10px;
}
#about .contents .box:first-of-type button {
  background-color: #33211d;
  color: white;
}
#about .contents .box:first-of-type button:hover {
  background-color: rgba(51, 33, 29, 0.9);
}

#service .contents {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  padding: 0 70px;
}
#service .contents .box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
#service .contents .box img {
  height: 200px;
}
#service .contents .box:nth-child(1) h3::before {
  content: "\f1b9";
}
#service .contents .box:nth-child(2) h3::before {
  content: "\f0f4";
}
#service .contents .box:nth-child(3) h3::before {
  content: "\f5a2";
}
#service .contents .box:nth-child(4) h3::before {
  content: "\f0ce";
}
#service .contents .box h3 {
  margin-bottom: 10px;
}
#service .contents .box h3::before {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "fontawesome";
  font-size: 20px;
  background-color: #da9f5b;
  margin-right: 10px;
}

#offer {
  color: white;
  position: relative;
  z-index: 1;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
#offer:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(51, 33, 29, 0.6);
}
#offer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 70px 0;
  background-image: url(../img/overlay-bottom.png), url(../img/overlay-top.png);
  background-repeat: repeat-x;
  background-position: left bottom -1px, left top -1px;
}
#offer > div p:nth-child(1) {
  font-size: 70px;
  color: #da9f5b;
  font-weight: 900px;
}
#offer > div p:nth-child(2) {
  font-size: 35px;
}
#offer > div p:nth-child(3) {
  font-size: 25px;
}
#offer > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#offer > div form [type=email] {
  padding: 10px;
  width: 200px;
  max-width: 100%;
}