@use "./helpers/mixins" as *;
@use "./helpers/variable" as *;
@use "./helpers/pseudoClass" as *;
@use "./layout/normalize";

body{
  position: relative;
  font-family: "Roboto",sans-serif;
  overflow-x: hidden;
  background-color: $backColor;
  color: $mainColor;
  .lorem{
    font-family: "Montserrat",sans-serif;
    color: rgb($mainColor,0.8);
  }
  height: 10000px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: $mainPadding;
  z-index: 100;
  h1{
    font-size: 40px;
  }
  >ul{
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    ul{
      position: absolute;
      top: 100%;
      padding-top: 10px;
      left: 0;
      color: #888;
      display: none;
      li{
        padding: 5px 10px;
        background-color: white;
      }
      li:hover{
        background-color: #eee;
      }
    }
    li{
      position: relative;
      transition-duration: $mainDelay;
    }
    >li.active,
    >li:hover{
      color: $greyColor;
      ul{
        display: block;
      }
    }
  }
}
section{
  &:not(:first-of-type){
    margin-top: 100px;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.goUp{
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 50;
  background-color: $greyColor;
  color: white;
  font-size: 20px;
  padding: 10px 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition-duration: $mainDelay;
  &.seen{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
h2.title{
  color: $greyColor;
  padding-top: 110px;
  position: relative;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background-color: $greyColor;
  }
  +p {
    font-size: 50px;
    font-weight: 700;
    align-items: center;
  }
}
h3{
  font-size: 30px;
}
button{
  all:unset;
  padding: 10px 20px;
  background-color: $greyColor;
  font-weight: 500;
  cursor: pointer;
  transition-duration: $mainDelay;
  &:hover{
    background-color: rgb($greyColor,0.9);
  }
}
