@use "./helpers/variable" as *;
@use "./helpers/mixins" as *;
@use "./layout/normalize";

body{
  position: relative;
  font-family: "Roboto",sans-serif;
  overflow-x: hidden;
  background-color: $backColor;
  color: $mainColor;
  .lorem{
    font-family: "Montserrat",sans-serif;
    color: rgb($mainColor,0.8);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: $mainPadding;
  z-index: 100;
  h1{
    font-size: 40px;
  }
  >ul{
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    ul{
      position: absolute;
      top: 100%;
      padding-top: 10px;
      left: 0;
      color: #888;
      display: none;
      li{
        padding: 5px 10px;
        background-color: white;
      }
      li:hover{
        background-color: #eee;
      }
    }
    li{
      position: relative;
      transition-duration: $mainDelay;
    }
    >li.active,
    >li:hover{
      color: $greyColor;
      ul{
        display: block;
      }
    }
    @include mediaSet("md"){
      flex-direction: column;
      align-items: center;
      padding: 15px 10px;
      position: absolute;
      top: 100%;
      right: 10px;
      background-color: rgb($mainColor,0.8);
      z-index: 5;
      width: 250px;
      max-width: 100%;
      margin-top: -20px;
      ul{
        position: relative;
        li{
          color: white;
          background-color: transparent;
          &:hover{
            color: $greyColor;
            background-color: transparent;
          }
        }
      }
      display: none;
    }
  }
  >i.list{
    cursor: pointer;
    display: none;
    @include mediaSet("md"){
      display: block;
    }
    &.active{
      +ul{
        display: flex;
      }
    }
  }

    // @include mediaSet("lg"){
    //   display:block;
    // }
  
}
section{
  &:not(:first-of-type){
    margin-top: 100px;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.goUp{
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 50;
  background-color: $greyColor;
  color: white;
  font-size: 20px;
  padding: 10px 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition-duration: $mainDelay;
  &.seen{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
h2.title{
  color: $greyColor;
  padding-top: 110px;
  position: relative;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background-color: $greyColor;
  }
  +p {
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
  }
}
h3{
  font-size: 25px;
  font-weight: 500;
}
[type="submit"],
button{
  all:unset;
  padding: 10px 20px;
  background-color: $greyColor;
  color: $mainColor;
  font-weight: 500;
  cursor: pointer;
  transition-duration: $mainDelay;
  &:hover{
    background-color: rgb($greyColor,0.9);
  }
  @include mediaSet("md"){
    font-size: 13px;
  }
}

footer{
  margin-top: 100px;
  color: white;
  @include overCover($mainColor,0.85);
  background: {
    image: url(../img/bg.jpg);
    size: cover;
    attachment: fixed;

  }
  >div{
    padding: 70px 0 30px;
    background: {
      image: url(../img/overlay-top.png);
      repeat: repeat-x;
      position: left top -1px;
    }
  }
  .wide-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    h3{
      margin-bottom: 25px;
    }
    p{
      margin-bottom: 15px;
      &.time{
        margin-top: -10px;
      }
    }
    i{
      margin-right: 10px;
    }
    .media{
      i{
        height: 40px;
        width: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border: 1px solid white;
        transition-duration: $mainDelay;
        &:hover{
          background-color: white;
          color: $greyColor;
        }
      }
    }
    form{
      display: flex;
      [type="email"]{
        padding: 10px;
      }
    }
    +div{
      padding-top: 20px;
      margin-top: 20px;
      border-top: #fff9 solid 1px;
      text-align: center;
      p{
        margin-top: 10px;
        a{
          color: $greyColor;
        }
      }
    }
    @include mediaSet("lg"){
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
    }
    @include mediaSet("sm"){
      grid-template-columns: 1fr;
    }
  }
}