-var CurrentPage ="Home"
-var currentPage =CurrentPage.toLowerCase()
include ../components/sections
doctype html
html(lang="en")
  head
    include ../components/head
    link(rel="stylesheet", href="css/owl.carousel.min.css")
    link(rel="stylesheet", href="css/owl.theme.default.css")
  body 
    include ../components/nav
    section#wrapper
      ul
        -for(var i=1; i<=2;i++)
          li(class=`${(i==1)?"active":""}`)
            img(src=`img/carousel-${i}.jpg`)
            .textBox
              p.upperP We have been servicing
              h2 Coffee 
              p since 1950
      i.fa-solid.fa-angles-left
      i.fa-solid.fa-angles-right
    a.goUp(href="#wrapper"): i.fa-solid.fa-angles-up
    +aboutSection
    +serviceSection
    section#offer
      div
        p 50% OFF
        p Sunday Special Offer
        p Only for Sunday from 1st Jan to 30th Jan 2045
        form
          input(type="email",placeholder="Your Email")
          input(type="submit", value="Sign Up")
    +menuSection
    +reservationSection
    +testimonialSection
    script(src='js/jquery.min.js')
    script(src='js/owlcarousel/owl.carousel.min.js')
    script(src="js/script.js") 