footer 
  div
    .wide-container 
      .box 
        h3 Get In Touch
        p 
          i.fa-solid.fa-location-dot
          |123 Street, New York, USA
        p 
          i.fa-solid.fa-phone
          |+012 345 67890
        p 
          i.fa-regular.fa-envelope
          |info@example.com
      .box 
        h3 Follow Us
        p Amet elitr vero magna sed ipsum sit kasd sea elitr lorem rebum
        .media 
          a(href="#"): i.fa-brands.fa-linkedin
          a(href="#"): i.fa-brands.fa-twitter
          a(href="#"): i.fa-brands.fa-facebook
          a(href="#"): i.fa-brands.fa-twitter
      .box 
        h3 Open Hours
        p Monday - Friday
        p.time 8.00 AM - 8.00 PM
        p Saturday - Sunday
        p.time 2.00 PM - 8.00 PM
      .box 
        h3 Newsletter
        p Amet elitr vero magna sed ipsum sit kasd sea elitr lorem rebum
        form 
          input(type="email",placeholder="Your Email")
          input(type="submit", value="Sign Up")
    .copyright 
      p © #[a(href="https://ar70sm.github.io/portfolio") Abd Alrahman Ashraf], All Right Reserved.
      p Designed By #[a(href="https://htmlcodex.com") HTML Codex]